.welcome-img{
	width: 400px;
	height: 500px;
}

.mt-8 {
	margin-top: 6.5rem!important	
}
.lead {
	font-size: 1.10rem;
	font-weight: 400;
}

.text-bold{
	font-weight: bold;
}

.form-control:focus {
	border-color: #fb6d6e;
	box-shadow: 0 0 0 0.1rem #fd8989;
}

.intro .overlay-intro{
	opacity: .6;
}